<% provide(:title, "Table") %>
<h1>Employee Details</h1>
<table class="table">
	<tr>
		<th>Emp ID</th>
		<th>Name</th>
		<th>Designation</th>
		<th>Manager</th>
	</tr>
	<% @employee.each do |e| %>
	<tr>
		<td><%= e.id %> </td>
		<td><%= e.name %> </td>
		<td><%= e.designation %> </td>
		<td><%= e.reporting_manager %> </td>
	</tr>
	<% end %>
</table>
<%= link_to "Add new", new_url %>