<% provide(:title, "Tree") %>
<div class="col-md-2 col-md-offset-10">                
 			<%= link_to "Add new", new_url, class: "btn btn-block btn-primary" %></div>  		
<h1>Tree View</h1>
<div class="row gap40">
<div id="treechart">
</div>
</div>
<% @employee.each do |e| %>
	<% if e.reporting_manager.blank? %>
		<ul id="org" style="display:none">
			<li><strong class="list"><%= link_to e.name,e,title: e.designation %></strong> <small><%= e.designation %></small>	
		
		<% def listing(id) %>
			<ul>
			<% @employee.each do |f| %>	
				<%if f.reporting_manager == id.to_s %>
					
						<li><strong class="list"><%= link_to f.name,f,title: f.designation %></strong> <small><%= f.designation %></small>
						<% listing(f.id) %>
						</li>
									
				 <% end %>
			<% end%>
			</ul>
		<% end %>
		<% listing(e.id) %>
			</li>
		</ul>		
	<% end %>
<% end %>

<script>
jQuery(document).ready(function() { $("#org").jOrgChart({chartElement: '#treechart'}); });
</script>

	

