<h1>Add employee detail</h1>
<div>
	<%= form_for(@employee_detail) do |f| %>
	<%= f.label :name, "Name : " %>
	<%= f.text_field :name %>
	
	<%= f.label :designation, "  Designation : " %>
	<%= f.text_field :designation %>
	
	<%= f.label :reporting_manager, "  Reporting Manager : " %>
	
	<%= f.collection_select(:reporting_manager, @employee,:name,:name) %>
	
	<%= f.submit "Add Employee" %>
	<% end %>
