<% provide(:title,"New") %>
<h1>Add employee detail</h1>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
	<%= form_for(@employee_detail) do |f| %>
	<%= f.label :name, "Name : " %>
	<%= f.text_field :name %>
	
	<%= f.label :designation, "  Designation : " %>
	<%= f.text_field :designation %>
	
	<%= f.label :reporting_manager, "  Reporting Manager : " %>
	
	<%= f.collection_select(:reporting_manager, @employee,:name,:name) %>
	
	<%= f.submit "Add Employee", class: "btn btn-primary" %>
	<% end %>
	</div>
	</div>
