<% provide(:title, @employee_detail.name) %>
<div class="col-md-2 col-md-offset-10">                
 	<%= link_to "Edit", edit_employee_detail_path(@employee_detail), class: "btn btn-block btn-primary" %>
</div>
<div class="center">
<h1><%= @employee_detail.name.upcase %></h1>
<div class="row gap30">
<div class="col-md-6 text-right">Name : </div><div class="text-left"><strong><%= @employee_detail.name %></strong></div>
</div>
<div class="row gap30">
<div class="col-md-6 text-right">Designation : </div><div class="text-left"><strong><%= @employee_detail.designation %></strong></div>
</div>
<div class="row gap30">
<div class="col-md-6 text-right">Manager : </div><div class="text-left">
    <% if @employee_detail.manager_id %>
	<% @manager_name = @employee_detail.manager.name  %>
	<% else %>
	<% @manager_name = nil %>
	<% end %>
	<strong><%= @manager_name %></strong></div>	
</div>
</div>


